<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>super hero</title>
 </head>
 <body>
  <form method='POST' action='/teams'>
    <h1>Create a Team and Heroes!</h1>
    Team Name: <input id="team_name" type="text" name="team[name]" ><p>
    Team Motto: <input id="team_motto" type="text" name="team[motto]" ><p>
    <h2>Hero 1</h2>
    Hero's name: <input id="member1_name" type="text" name="team[members][][name]" ><p>    
    Hero power: <input id="member1_power" type="text" name="team[members][][power]" ><p>
    Hero's biography: <input id="member1_bio" type="text" name="team[members][][bio]" ><p>
    <h2>Hero 2</h2>
    Hero's name: <input id="member2_name" type="text" name="team[members][][name]" ><p>    
    Hero power: <input id="member2_power" type="text" name="team[members][][power]" ><p>
    Hero's biography: <input id="member2_bio" type="text" name="team[members][][bio]" ><p>
    <h2>Hero 3</h2>
    Hero's name: <input id="member3_name" type="text" name="team[members][][name]" ><p>    
    Hero power: <input id="member3_power" type="text" name="team[members][][power]" ><p>
    Hero's biography: <input id="member3_bio" type="text" name="team[members][][bio]" ><p>




    <input type='submit' value='submit'>
</form>
